<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek-PORTFOLIO</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar sidebarGo">
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="intro.html">Intro & Skills</a></li>
                    <li><a href="Education.html">Education</a></li>
                    <li><a href="certification.html">certification</a></li>
                    <li><a href="project.html">Projects</a></li>

                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="hamburger">
                <img class="ham" src="../images/ham.png" alt="" width="23">
                <img class="cross" src="../images/cross.png" alt="" width="23">
            </div>
            <div class="certificationcontainer">
                <h1>Certifications :</h1>
                <div class="certificationitem">
                   <h2>Crash Course on Python</h2>
                   <h4>Institution : Google</h4>
                   <h4>Platform : Coursera</h4>
                   <h4>Grade : 95.50%</h4>
                   <p>This course is designed to teach the foundations in order to write simple programs in Python using the most common structures. No previous exposure to programming is needed. By the end of this course, you'll understand the benefits of programming in IT roles; be able to write simple programs using Python; figure out how the building blocks of programming fit together; and combine all of this knowledge to solve a complex programming problem</p>
                   <button class="btn btn-sm"  onclick="window.open('https://coursera.org/verify/RTNRANRVGEKA')" target="_blank">Certificate</button>
                </div>
                <div class="certificationitem">
                   <h2>HTML, CSS and Javascript for Web Developers </h2>
                   <h4>Institution : John Hopkins University</h4>
                   <h4>Platform : Coursera</h4>
                   <h4>Grade : 97.91%</h4>
                   <p>This course is designed to teach the core of HTML , css and javascript for web developers. this course consists of varios assignments which leads to apply the knowledge.</p>
                   <button class="btn btn-sm"  onclick="window.open('https://coursera.org/verify/528CAACFX2H6')" target="_blank">Certificate</button>
                </div>
                <div class="certificationitem">
                   <h2>Programming for Everybody (Getting Started with Python)</h2>
                   <h4>Institution : University of Michigan</h4>
                   <h4>Platform : Coursera</h4>
                   <h4>Grade : 97.43%</h4>
                   <p>This course aims to teach everyone the basics of programming computers using Python. It cover the basics of how one constructs a program from a series of simple instructions in Python.  The course has no pre-requisites and avoids all but the simplest mathematics. Anyone with moderate computer experience should be able to master the materials in this course. This course will cover Chapters 1-5 of the textbook “Python for Everybody”.  Once a student completes this course, they will be ready to take more advanced programming courses. This course covers Python 3.</p>
                   <button class="btn btn-sm" onclick="window.open('https://coursera.org/verify/XAKGWVMNS8PX')" target="_blank">Certificate</button>
                </div>
                <div class="certificationitem">
                   <h2>Architecting smart Iot Devices</h2>
                   <h4>Institution : EIT Digital</h4>
                   <h4>Platform : Coursera</h4>
                   <h4>Grade : 95.21%</h4>
                   <p>This course will teach how to develop an embedded systems device. In order to reduce the time to market, many pre-made hardware and software components are available today. You'll discover all the available hardware and software components, such as processor families, operating systems, boards, and networks. You'll also learn how to actually use and integrate these components.</p>
                   <button class="btn btn-sm" onclick="window.open('https://coursera.org/verify/DE7HKYVGN2RW')"  target="_blank">Certificate</button>
                </div>
                <div class="certificationitem">
                   <h2>Internet Of Things and Embedded System</h2>
                   <h4>Institution : University of California, Irvine</h4>
                   <h4>Platform : Coursera</h4>
                   <h4>Grade : 94%</h4>
                   <p>The Internet of Things (IoT) is a popular buzzword right now, but unlike many fads which have come and gone, the Internet of Things describes an important trend which is having lasting effects on society at large. The term itself, “Internet of Things”, is used to mean a variety of ideas, depending on the motivation and background of the speaker. This course will start by providing a definition of the term.</p>
                   <button class="btn btn-sm" onclick="window.open('https://coursera.org/verify/WJFRP773UTZ9')" target="_blank">Certificate</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>

</html>