<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek-PORTFOLIO</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar sidebarGo">
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="intro.html">Intro & Skills</a></li>
                    <li><a href="Education.html">Education</a></li>
                    <li><a href="certification.html">Certification</a></li>
                    <li><a href="project.html">Projects</a></li>

                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="hamburger">
                <img class="ham" src="../images/ham.png" alt="" width="23">
                <img class="cross" src="../images/cross.png" alt="" width="23">
            </div>
            <div class="intro">
                <div class="skills">
                    <h1>MY SKILLS</h1>
                    <div class="skillcontainer">
                        <div class="skillitem">JAVA:<div class="skill seventyfive" ></div>
                        </div>
                        <div class="skillitem">HTML:<div class="skill seventyfive" ></div>
                        </div>
                        <div class="skillitem">CSS:<div class="skill hundred" ></div>
                        </div>
                        <div class="skillitem">JSP&SERVLET:<div class="skill seventyfive" ></div>
                        </div>
                        <div class="skillitem">webservices:<div class="skill fifty" ></div>
                        </div>
                        <div class="skillitem">JDBC:<div class="skill eighty" ></div>

                    </div>
                </div>
            </div>
            <div class="myintro">
                <h1>MY INTRO</h1>
                <p>Hello! My name is Abhishek Kumar Singh, and I am from Ballia(U.P). I completed my class 10th and class 12th from my home district, where I scored 85.5% and 71.2%, respectively. I have completed my Btech in ECE from BBDNITM Lucknow and scored 69.2%.

                    <p>As a self-motivated and disciplined individual, I am always looking for opportunities to learn and upskill myself. I have learnt various types of skills and completed Certifications in PYTHON programming and IOT. I am  having good knowledge of frontend skills like JAVA,JDBC,JSP,SERVLET, HTML , CSS</p>
                    

                    <p>My strengths lie in my analytical approach, communication skills, adaptability, and presentation skills. In my free time, I enjoy playing outdoor games, listening to music. I am also a curious net surfer and enjoy doing cyber work. </p>
                    
                    <p>I am excited to apply my knowledge and skills to an esteemed company to further improve myself. My long-term goal is to contribute my ideas towards the betterment of my workplace, society, and myself in the IT sector. </p>
                    
                    <p>Thank you!</p>
                <p>CLASS lcl_report DEFINITION.
                    PUBLIC SECTION.
                      METHODS: get_data,
                               display_output.
                    PRIVATE SECTION.
                      TYPES: BEGIN OF ty_data,
                               ebeln TYPE ekko-ebeln,
                               bukrs TYPE ekko-bukrs,
                               bedat TYPE ekko-bedat,
                               ernam TYPE ekko-ernam,
                               menge TYPE ekpo-menge,
                               meins TYPE ekpo-meins,
                               netpr TYPE ekpo-netpr,
                             END OF ty_data.
                      DATA: lt_data TYPE TABLE OF ty_data,
                            ls_data TYPE ty_data.
                  ENDCLASS.
                  
                  CLASS lcl_report IMPLEMENTATION.
                    METHOD get_data.
                      SELECT a~ebeln a~bukrs a~bedat a~ernam b~menge b~meins b~netpr
                        INTO TABLE lt_data
                        FROM ekko AS a
                        INNER JOIN ekpo AS b ON a~ebeln = b~ebeln
                        WHERE a~ebeln IN @s_ebeln.
                    ENDMETHOD.
                  
                    METHOD display_output.
                      ULINE.
                      WRITE: / 'Purchase Order', 20 'Company Code', 40 'Creation Date', 60 'Created By', 80 'Quantity', 100 'Unit', 120 'Net Price'.
                      ULINE.
                      LOOP AT lt_data INTO ls_data.
                        WRITE: / ls_data-ebeln, 20 ls_data-bukrs, 40 ls_data-bedat, 60 ls_data-ernam, 80 ls_data-menge, 100 ls_data-meins, 120 ls_data-netpr.
                        ULINE.
                      ENDLOOP.
                    ENDMETHOD.
                  ENDCLASS.
                  
                  START-OF-SELECTION.
                    DATA: lr_report TYPE REF TO lcl_report.
                  
                    SELECT-OPTIONS: s_ebeln FOR ekko-ebeln.
                  
                    CREATE OBJECT lr_report.
                    lr_report->get_data( ).
                    lr_report->display_output( ).</p>
                </p>
            </div>



        </div>
    </div>
    </div>
    <script src="../js/script.js"></script>
</body>

</html>