<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek-PORTFOLIO</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar sidebarGo">
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="intro.html">Intro & Skills</a></li>
                    <li><a href="Education.html">Education</a></li>
                    <li><a href="certification.html">Certification</a></li>
                    <li><a href="project.html">Projects</a></li>

                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="hamburger">
                <img class="ham" src="../images/ham.png" alt="" width="23">
                <img class="cross" src="../images/cross.png" alt="" width="23">
            </div>
            <div class="intro">
                <div class="skills">
                    <h1>MY SKILLS</h1>
                    <div class="skillcontainer">
                        <div class="skillitem">JAVA:<div class="skill seventyfive" ></div>
                        </div>
                        <div class="skillitem">HTML:<div class="skill seventyfive" ></div>
                        </div>
                        <div class="skillitem">CSS:<div class="skill hundred" ></div>
                        </div>
                        <div class="skillitem">JSP&SERVLET:<div class="skill seventyfive" ></div>
                        </div>
                        <div class="skillitem">webservices:<div class="skill fifty" ></div>
                        </div>
                        <div class="skillitem">JDBC:<div class="skill eighty" ></div>

                    </div>
                </div>
            </div>
            <div class="myintro">
                <h1>MY INTRO</h1>
                <p>Hello! My name is Abhishek Kumar Singh, and I am from Ballia(U.P). I completed my class 10th and class 12th from my home district, where I scored 85.5% and 71.2%, respectively. I have completed my Btech in ECE from BBDNITM Lucknow and scored 69.2%.

                    <p>As a self-motivated and disciplined individual, I am always looking for opportunities to learn and upskill myself. I have learnt various types of skills and completed Certifications in PYTHON programming and IOT. I am  having good knowledge of frontend skills like JAVA,JDBC,JSP,SERVLET, HTML , CSS</p>
                    

                    <p>My strengths lie in my analytical approach, communication skills, adaptability, and presentation skills. In my free time, I enjoy playing outdoor games, listening to music. I am also a curious net surfer and enjoy doing cyber work. </p>
                    
                    <p>I am excited to apply my knowledge and skills to an esteemed company to further improve myself. My long-term goal is to contribute my ideas towards the betterment of my workplace, society, and myself in the IT sector. </p>
                    
                    <p>Thank you!</p>
                </p>
            </div>



        </div>
    </div>
    </div>
    <script src="../js/script.js"></script>
</body>

</html>