<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek-PORTFOLIO</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar sidebarGo">
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="intro.html">Intro & Skills</a></li>
                    <li><a href="Education.html">Education</a></li>
                    <li><a href="certification.html">certification</a></li>
                    <li><a href="project.html">Projects</a></li>

                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="hamburger">
                <img class="ham" src="../images/ham.png" alt="" width="23">
                <img class="cross" src="../images/cross.png" alt="" width="23">
            </div>
            <div class="projectcontainer">
                <div class="project">
                    <h1>My Projects:-</h1>
                </div>
                <div class="projectitems">
                    <div class="projectitem">
                        <h2>Lucknow Foods Website</h2>
                        <p>
                            I have created a RESPONSIVE Website about Foods of Lucknow.This website contains several food items with their Location and Price. It also contains some Navbar Section like History, About And Contact.
                        </p>
                        <button class="btn btn-sm" onclick="window.open('https://abhisheksinghabhibui.github.io/project.github.io/')"  target="_blank">View Project</button>

                    </div>
                    <div class="project2">
                        <div class="projectitem">
                            <h2>Flipkart Clone</h2>
                            <p>
                                This is a Flipkart HOMEPAGE Clone
                            </p>
                            <a href="../flipkart clone/index.html" target="_blank">
                                <button class="btn btn-sm">View Project</button></a>
    
                        </div>
                        <div class="projectitem">
                            <h2>Calculator</h2>
                            <p>
                                A well designed and decorated Calculator.
                            </p>
                            <a href="../Calculator/index.html" target="_blank">
                            <button class="btn btn-sm">View Project</button></a>
    
                        </div>
                        <div class="portfoliodisclaimer">
                            <h2>NOTE:- The Portfolio Website on Which you are currently Browsing is also made By me from Scratch</h2>
                        </div>

                    </div>
                </div>
            </div>
            
        
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>

</html>